# --- Python & Django ---
*.pyc
__pycache__/
*.log
*.pot
*.py[co]

# --- Ambiente Virtuale ---
venv/
env/
.env

# --- IDE (Configurazioni del tuo editor) ---
.vscode/
.idea/
.DS_Store

# --- Media (Opzionale, se carichi immagini pesanti) ---
media/